.c1 {
  text-align: center;
}

.c2 {
  padding: 10px;
}

.h {
  text-align: center;
  color: blue;
}
.s {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 30px;
  letter-spacing: 7px;
}
