.name {
  text-align: center;
  background-color: pink;
}

.food {
  position: relative;
  top: -400px;
  left: 800px;
}

.seema {
  height: 500px;
  width: 350px;
  position: relative;
  top: 100px;
  left: 200px;
}
